* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");

@import url("https://www.cssfontstack.com/Futura");

@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@400;500;700&display=swap");

:root {
  --card: #0b0d12;
  --heading: #5a0f1b;
  --heading2: #ff2b3a;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/back.png");
}

/* typografie */

h2,
h3,
ul {
  font-family: "Satoshi", sans-serif;
}

h1,
h2 {
  color: var(--heading);
}

h3,
ul,
p {
  color: var(--heading2);
}
h1 {
  font-size: clamp(48px, 10vw, 100px);
  font-family: "Inria Sans", system-ui, sans-serif;
}

h2 {
  font-size: clamp(18px, 4vw, 40px);
}

h3 {
  font-size: clamp(1.4375rem, 1.0625rem + 1.875vw, 1.8125rem);
}

/* front and back */
.card {
  width: 100%;
  height: 100%;

  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0) 30%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0) 30%
    ),
    var(--card);

  border-radius: 16px;
  position: relative;
}

/* front */

.front {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content front */

h1 {
  margin: 0;
}

/* back */

.back {
  position: relative;
  padding: 1.5em;
  display: grid;

  grid-template-areas:
    "image  "
    "naam   "
    "role   "
    "squad  "
    "contact"
    "arab   ";

  @media (width > 30em) {
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: max-content max-content max-content 1fr max-content;

    grid-template-areas:
      "naam    image"
      "role    image"
      "squad   image"
      "contact image"
      "arab    image";
  }
}

/* content back */

h2 {
  margin: 0;

  grid-area: arab;
}

h3 {
  margin: 0;

  grid-area: naam;
}

.role {
  font-weight: bold;
  margin: 0;

  grid-area: role;
}

.squad {
  margin: 0;

  grid-area: squad;
}

ul {
  padding: 0;
  margin: 2em 0;
  list-style-type: "";
  align-self: center;
  grid-area: contact;

  @media (width > 40em) {
    margin: 0;
  }
}

.profile {
  width: clamp(64px, 20vw, 120px);
  height: auto;
  border-radius: 50%;
  margin-bottom: 1em;
  outline: 3px solid var(--heading);
  outline-style: inset;

  grid-area: image;
  align-self: center;
  justify-self: center;
}

/* -------------- */
.card-wrapper {
  width: min(560px, 92vw);
  aspect-ratio: 560 / 320;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;

  display: grid;
}

.card-wrapper:hover .card-inner {
  transform: rotateY(180deg);
}

.card {
  grid-area: 1/1;

  backface-visibility: hidden;
}

.card.back {
  transform: rotateY(180deg);
}

.hover {
  opacity: 1.5;
}

a {
  color: var(--heading2);
}
